* {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 1600;
}

.data-wrapper {
  width: 2000;
  display: grid;
  grid-template-columns: 500px 1fr; /*left side is details right is graphs*/
  /*1fr will scale based on the left over pixels and how many frames listed*/
  /* this settup means 1fr = total width - 300px*/
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */
}

#map {
  height: 800px;
}

#map svg {
  width: 100%;
  height: 100%;
  margin: auto;
}

#map svg {
  margin: auto;
}

div.cat {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

div.data {
  display: inline;
  font-size: 16px;
  font-weight: normal;
}

.boundary {
  fill: #d9d9d9;
  stroke: #fff;
  stroke-width: .8px;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .2;
  pointer-events: none;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}